<div class="content" ng-controller="MainCtrl" ng-init="getData()">
  <p>Custom search for twitch</p>
  <h1>List of streams: </h1>
  <table id="streams-list" class="table table-bordered">
    <thead>
    <tr>
      <th>Streamer</th>
      <th>Stream</th>
      <th>Game</th>
      <th>Viewers <span class="glyphicon glyphicon-triangle-bottom" ng-class="{reverse:reverseIcon}" ng-click="setOrder()"></span></th>
      <th>Tags</th>
    </tr>
    </thead>
    <!-- tbody ng-repeat="stream in list[0].streams" -->
    <tbody ng-repeat="stream in streamsList">
        <tr>
          <td>
            <b><a href="#/streamer/{{stream.channel.name}}"> {{stream.channel.display_name}} </a></b>
          </td>
          <td>
            <a href='#stream-details' class='streamlink'>
              <i>{{stream.channel.status}}</i>
            </a>
          </td>
          <td>{{stream.game}}</td>
          <td>{{stream.viewers}}</td>
          <td>
            <span class="label label-primary">{{stream.channel.broadcaster_language}}</span>
            <span ng-show="stream.channel.partner" class="label label-info">Partner</span>
            <span ng-show="stream.channel.mature" class="label label-danger">Mature</span>
          </td>
        </tr>
    </tbody>
  </table>

</div>
